
extends ./templates/master
block content
    .col-md-9
        h1 About User
        if youAreUsingJade
            p You are amazing
        else
            p Get on it!
            p.
            Jade is a terse and simple templating language with a
            strong focus on performance and powerful features.
